@page "/criar-lead"

<div class="container">
    <h1>Criar o lead</h1>
    <form>
        <div class="field-compound">
            <div class="field">
                <label for="nome">Nome Completo</label>
                <input type="text" id="nome" name="nome" placeholder="Nome">
            </div>
            <div class="field">
                <label for="cpf">CPF</label>
                <input type="text" id="cpf" name="cpf" placeholder="CPF">
            </div>
        </div>
        <div class="field-compound">
            <div class="field">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="field">
                <label for="telefone">Telefone</label>
                <input type="tel" id="telefone" name="telefone" placeholder="Telefone de contato">
            </div>
        </div>

        <div class="field-compound">
            <div class="field">
                <label for="dataNascimento">Data Nascimento</label>
                <input type="date" id="dataNascimento" name="dataNascimento" placeholder="Data Nascimento">
            </div>
            <div class="field">
                <label for="gender">Sexo</label>
                <input type="text" id="gender" name="gender" placeholder="Escolha">
            </div>
        </div>

        <div class="field-compound">
            <div class="field">
                <label for="placa">Placa</label>
                <input type="text" id="placa" name="placa" placeholder="Placa do veículo">
            </div>
            <div class="field">
                <label for="placa">Veículo</label>
                <input type="text" id="placa" name="model" placeholder="Modelo do veículo">
            </div>
        </div>
        <div class="field-compound">
            <div class="field">
                <label for="zipCode">Cep</label>
                <input type="text" id="zipCode" name="zipCode" placeholder="Cep residencial">
            </div>
            <div class="field">
                <label for="address">Endereço</label>
                <input type="text" id="address" name="address" placeholder="Endereço residencial">
            </div>
        </div>
        <input type="submit" value="Salvar">
    </form>
</div>

@code {

}
