@page "/"
<h1>Listas dos leads</h1>

<div class="list-group">
    <div class="list-group-item list-group-item-action list-group-item-custom">
        <div class="item-content">
            <p>Nome</p>
            <p>Placa</p>
            <p>Status</p>
        </div>
    </div>
    @foreach (var lead in Leads)
    {
        var buttonClass = lead.Status == "pendent"
        ? "status-pendente"
        : lead.Status == "não vendido"
        ? "status-nao-vendido"
        : "status-outro";

        <a href="#" class="list-group-item list-group-item-action list-group-item-custom">
            <div class="item-content">
                <span class="bi bg-info"></span>
                <span>@lead.Text</span>
                <span>@lead.Placa</span>
                <button class="status-button @buttonClass">@lead.Status</button>
            </div>
        </a>
    }
</div>

@code {
    private List<LeadTest> Leads { get; set; }

    protected override void OnInitialized()
    {
        Leads = new LeadTest().GetLeadTests();
    }

    class LeadTest
    {
        public string Text { get; set; }
        public string Placa { get; set; }
        public string Status { get; set; }

        public List<LeadTest> GetLeadTests()
        {
            return new List<LeadTest>
            {
                new LeadTest
                {
                    Text = "The current link item",
                    Status = "pendent",
                    Placa = "XXX-XXX"
                },
                new LeadTest
                {
                    Text = "The current link item",
                    Status = "pendent",
                    Placa = "XXX-CCC"
                },
                new LeadTest
                {
                    Text = "The current link item",
                    Status = "não vendido",
                    Placa = "XXX-VVV"
                },
                new LeadTest
                {
                    Text = "The current link item",
                    Status = "Emitido",
                    Placa = "XXX-PPP"
                }
            };
        }
    }
}
